<div class="navbar">
  <div class="navbar-container" >

    <div class="menu-and-logo">
      <a href="" class="logo">
        <img src="assets/img/A-64.png" alt="">
      </a>
      
      <ul class="menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['home']">
            Home
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['heroes']">
            Heroes
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['about']">
            About
          </a>
        </li>
      </ul>
    </div>
      
    <form action="" class="search">
      <input type="text" placeholder="Buscar Heroe">
      <label for="">Buscar</label>
    </form>

  </div>
</div>