<div>
  <a href="">
    <img src="assets/img/A-64.png" alt="">
  </a>

  <ul>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['home']">
        Home
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['heroes']">
        Heroes
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['about']">
        About
      </a>
    </li>
  </ul>

  <form action="">
    <input type="text">
    <label for="">Buscar</label>
  </form>
</div>