<div class="heroes animated fadeIn">
  <div class="title">
    <h1>Heroes <small>Marvel and DC</small></h1>
  </div>

  <div class="heroes-container">

    <div class="card" *ngFor="let heroe of heroes; let i = index">
      <img [src]="heroe.img" [alt]="heroe.nombre">
      <div>
        <h4>{{ heroe.nombre}}</h4>
        <p>{{ heroe.bio }}</p>
        <p class="card-date">{{ heroe.aparicion }}</p>
        <button (click)=watchHeroe(i)>
          ver más...
        </button>
      </div>
    </div>
  </div>

</div>